<mat-toolbar color="primary">
    <span>Manager</span>
    <a mat-button> &nbsp; &nbsp;    </a>
     <a mat-button aria-current="page" routerLink="/home"><mat-icon>home</mat-icon></a>
     <a mat-button>   &nbsp;&nbsp;   </a>
     <a mat-button aria-current="page" routerLink="/createexecutive">Create executive</a>
     <a mat-button>  &nbsp; &nbsp;   </a>
     <a mat-button aria-current="page" routerLink="/createproperty">Create Property</a>
     <a mat-button>  &nbsp; &nbsp;   </a>
     <a mat-button aria-current="page" routerLink="/listcustomer">List Customer</a>
     <a mat-button>  &nbsp; &nbsp;   </a>
     <a mat-button aria-current="page" routerLink="/listexecutive">List Executive</a>
     <a mat-button>  &nbsp; &nbsp;   </a>
     <a mat-button aria-current="page" routerLink="/listproperties">List Property</a>
     <a mat-button>    </a>
</mat-toolbar>
