<mat-toolbar color="primary">
    <span>Customer</span>
    <a mat-button> &nbsp; &nbsp;    </a>
     <a mat-button aria-current="page" routerLink="/home"><mat-icon>home</mat-icon></a>
     <a mat-button>   &nbsp;&nbsp;   </a>
     <a mat-button aria-current="page" routerLink="/createcustomer"><mat-icon>create</mat-icon></a>
     <a mat-button>  &nbsp; &nbsp;   </a>
     <a mat-button aria-current="page" routerLink="/listproperty">	<mat-icon>view_list</mat-icon></a>
     <a mat-button>    </a>
</mat-toolbar>